---
import { DialogCalendly } from '../ui/DialogCalendly';
import CardInfo from './CardInfo.astro';
import CardStep from './CardStep.astro';

const dataCardInfo: CardInfo[] = [
	{
		title: 'Lead',
		text: 'For short-term needs and one-off tasks',
		info: {
			couching: [
				'Refining pitches and presentations.',
				'Preparing for dream job interviews.',
			],
			translation: [
				'Pitches and Pitch decks',
				'Sales and product landing pages',
				'Specific letters and emails',
				'Video subtitles',
				'Photograph captions',
			],
		},
	},
	{
		title: 'Build',
		text: 'For mid-term needs and project-based tasks',
		info: {
			couching: [
				'Developing pitches and presentations.',
				'Preparing for strategic meetings.',
			],
			translation: [
				'Entire websites',
				'Social media profiles',
				'Communication material:',
				'Pre-existing newsletters',
				'Pre-existing social media content',
			],
		},
	},
	{
		title: 'Grow',
		text: 'Good for long-term needs and ongoing tasks',
		info: {
			couching: [
				'Following up with investors, producers, sponsors.',
				'Polishing your Business English.',
			],
			translation: [
				'New or updated websites',
				'New or updated',
				'communication material',
				'Regular newsletters',
				'Regular social media content',
			],
		},
	},
];

const dataCardSteps = [
	{
		id: 1,
		title: 'Schedule a call',
		text: 'You will schedule an introductory call to share details about your venture with us.',
	},
	{
		id: 2,
		title: 'Needs analysis',
		text: 'We will conduct a needs analysis to tailor our services to your specific requirements.',
	},
	{
		id: 3,
		title: 'Proposal',
		text: 'We will send you a personalised proposal outlining your needs, timeline, and project scope.',
	},
	{
		id: 4,
		title: 'Project timeline',
		text: 'After accepting the proposal, we will work with you to organise a project timeline.',
	},
	{
		id: 5,
		title: 'Come to Life',
		text: 'You will witness your project come to life in English and be able to confidently talk about it! ',
	},
];
---

<section id="services" class="">
	<div class="bg-background py-[7rem]">
		<div class="container max-w-[350px] sm:max-w-[1200px] mx-auto">
			<span
				class="uppercase bg-background border border-darkGreen text-darkGreen text-[10px] w-fit px-2 rounded-lg tracking-widest pb-[1px] mb-4 block"
				>Services</span
			>
			<h1
				class="text-start text-4xl font-Baloo font-semibold text-gray-700 md:text-5xl mt-2"
			>
				What we do
			</h1>
			<div
				class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(300px,1fr))] justify-center mt-8"
			>
				{dataCardInfo.map((item) => <CardInfo card={item} />)}
			</div>
		</div>
	</div>
	<div class="bg-background py-[7rem]">
		<div class="container max-w-[350px] sm:max-w-[1200px] mx-auto">
			<h1
				class="text-start text-4xl font-Baloo font-semibold text-gray-700 md:text-5xl"
			>
				How we do it
			</h1>
			<div
				class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(300px,1fr))] justify-center mt-6"
			>
				{
					dataCardSteps.map((item) => (
						<CardStep
							id={item.id}
							title={item.title}
							text={item.text}
						/>
					))
				}
				<article class="bg-darkGreen p-6 text-background">
					<h2 class="text-3xl text-balance font-bold mb-4">
						Are you ready to get started?
					</h2>
					<DialogCalendly client:load />
				</article>
			</div>
		</div>
	</div>
</section>
