---
import { Image } from 'astro:assets';
import marcosImg from '@/assets/marcos.jpg';
import albaImg from '@/assets/alba.jpg';
import natiImg from '@/assets/nati.jpeg';
---

<section id="testimonials" class="py-[7rem] bg-background">
  <div class="container max-w-[600px] mx-auto">
    <h1 class="text-5xl font-semibold font-Baloo mb-12">Nuestras historias</h1>

    <div class="space-y-12">
      <article class="space-y-4">
        <h2 class="text-darkGreen text-2xl font-bold font-Baloo capitalize">
          Sintiéndose poderosa y auténtica
        </h2>
        <p>
          Nati fue la <strong class="text-darkOrange"
            >ganadora de una beca de la National Geographic Society</strong
          > por su proyecto
          <strong class="text-darkOrange">Las Fuegas</strong>. Necesitaba
          participar en reuniones y conversaciones con sus compañeros y con el
          responsable del programa en inglés. Con el <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">coaching </span></span
          > de inglés, mejoró su capacidad para <span
            class="bg-darkGreen text-background">comunicarse eficazmente</span
          > en reuniones virtuales y <span class="bg-darkGreen text-background"
            >compartir con confianza</span
          > las actualizaciones del proyecto en sesiones individuales.
        </p>
        <p>
          También solicitó otra beca, que requería un <strong
            class="text-darkOrange">portafolio fotográfico actualizado</strong
          > con <strong class="text-darkOrange"
            >pies de foto en un inglés cuidadosamente redactado</strong
          >. Gracias a un enfoque colaborativo de la <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">traducción</span></span
          >, se aseguró de que <span class="bg-darkGreen text-background"
            >su trabajo se presentará con autenticidad</span
          >.
        </p>
        <div class="flex items-center gap-4 pt-4">
          <Image
            src={natiImg}
            alt={'jen'}
            class="w-16 h-16 object-cover rounded-full"
          />
          <div class="flex flex-col">
            <p class="font-bold">Nati</p>
            <p class="opacity-70 font-semibold">Fotógrafa - Activista</p>
          </div>
        </div>
      </article>
      <article class="space-y-4 border-t-[1px] border-gray-300 pt-16">
        <h2 class="text-darkGreen text-2xl font-bold font-Baloo capitalize">
          Encontrar mi voz en inglés
        </h2>
        <p>
          Alba quería establecer <strong class="text-darkOrange"
            >relaciones comerciales más sólidas</strong
          > en inglés durante sus reuniones con hablantes nativos y no nativos en
          Estados Unidos y Europa. Gracias al <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">coaching </span></span
          > de inglés, afinó su vocabulario y pronunciación, <strong
            class="text-darkOrange"
          >
            reduciendo la distancia</strong
          >
          entre su<span class="bg-darkGreen text-background">
            «yo-español» y su «yo-inglés»</span
          >.
        </p>
        <p>
          Su experiencia positiva con el coaching de inglés hizo que elegir
          English Creative para las <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">traducciones</span></span
          > fuera una decisión fácil.<strong class="text-darkOrange">
            Tradujimos ebooks</strong
          > y <strong class="text-darkOrange"
            >contenido de redes sociales</strong
          >, dándole la <span class="bg-darkGreen text-background"
            >tranquilidad</span
          > de que estábamos tan <span class="bg-darkGreen text-background"
            >interesados en su éxito</span
          >
          como ella.
        </p>
        <div class="flex items-center gap-4 pt-4">
          <Image
            src={albaImg}
            alt={'jen'}
            class="w-16 h-16 object-cover rounded-full"
          />
          <div class="flex flex-col">
            <p class="font-bold">Alba</p>
            <p class="opacity-70 font-semibold">
              Fundadora de Comunicación de la Buena
            </p>
          </div>
        </div>
      </article>
      <article class="space-y-4 border-t-[1px] border-gray-300 pt-16">
        <h2 class="text-darkGreen text-2xl font-bold font-Baloo capitalize">
          Prosperar en entornos formales e informales
        </h2>
        <p>
          Marcos había utilizado el inglés en el mundo de los negocios durante
          años, pero sentía que <strong class="text-darkOrange"
            >no estaba a la altura de la fluidez de sus colegas y compañeros
            internacionales</strong
          >.
        </p>
        <p>
          Decidido a mejorar, Marcos invirtió tiempo en <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">coaching </span></span
          > de inglés para desarrollar sus conocimientos de inglés con un <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10">objetivo</span></span
          >
          <span
            class="relative after:absolute after:-bottom-[5px] after:h-[8px] after:w-full after:border-t-[3px] after:border-t-darkOrange after:left-0 after:rounded-[50%] z-0"
            ><span class="relative z-10"> claro</span></span
          > en mente: <strong class="text-darkOrange"
            >presentar con confianza su marca a clientes internacionales</strong
          > tanto de forma escrita como oral, <strong class="text-darkOrange"
            >entablar conversaciones naturales</strong
          > en entornos informales y <strong class="text-darkOrange"
            >dirigir reuniones de consejo</strong
          > sin dudar en qué vocabulario utilizar... en otras palabras, <span
            class="bg-darkGreen text-background"
            >adaptarse a cualquier situación que requiera su contexto
            empresarial.</span
          >.
        </p>
        <div class="flex items-center gap-4 pt-4">
          <Image
            src={marcosImg}
            alt={'jen'}
            class="w-16 h-16 object-cover rounded-full"
          />
          <div class="flex flex-col">
            <p class="font-bold">Marcos</p>
            <p class="opacity-70 font-semibold">
              Fundador de Boons - Learning from Nature
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
