---
const { id, text } = Astro.props;
---

<article
	class="border border-gray-600 rounded-xl p-8 text-center max-w-[254px] h-[242px] justify-self-center"
>
	<h3 class="font-Baloo text-darkOrange text-3xl mb-4">0{id}</h3>
	<p class="uppercase font-thin text-[19px]">
		{text}
	</p>
</article>
