---
import Showcase from "./Showcase.astro"
import SectionOne from "./SectionOne.astro"
import SectionTwo from "./SectionTwo.astro"
import SectionThree from "./SectionThree.astro"
---

<main>
    <Showcase />
    <SectionOne />
    <SectionTwo />
    <SectionThree />
</main>