---

---

<section class="relative py-[7rem] bg-white">
	<h2
		class="text-2xl text-center font-OpenSans mb-6 md:text-4xl md:mb-12 max-w-[480px] mx-auto opacity-0 intersect:opacity-100 transition duration-1000 intersect-once"
	>
		You’re in <span class="text-darkGreen">THE PERFECT</span> place if you are...
	</h2>
	<div
		class="grid sm:grid-cols-2 md:grid-cols-[repeat(auto-fit,minmax(250px,1fr))] max-w-[800px] justify-center mx-auto gap-4"
	>
		<article
			class="border border-gray-600 rounded-xl p-8 text-center max-w-[254px] h-[242px] justify-self-center opacity-0 intersect:opacity-100 intersect:animate-fade-left intersect-full intersect-once"
		>
			<h3 class="font-Baloo text-darkOrange text-3xl mb-4">01</h3>
			<p class="uppercase font-thin text-[19px]">
				a Spanish-speaking business owner or project creator
			</p>
		</article>
		<article
			class="border border-gray-600 rounded-xl p-8 text-center max-w-[254px] h-[242px] justify-self-center opacity-0 intersect:opacity-100 intersect:animate-fade-left intersect-full animate-delay-500 intersect-once"
		>
			<h3 class="font-Baloo text-darkOrange text-3xl mb-4">02</h3>
			<p class="uppercase font-thin text-[19px]">
				ready to transform your venture into English
			</p>
		</article>
		<article
			class="border border-gray-600 rounded-xl p-8 text-center max-w-[254px] h-[242px] justify-self-center opacity-0 intersect:opacity-100 intersect:animate-fade-left intersect-full animate-delay-700 intersect-once"
		>
			<h3 class="font-Baloo text-darkOrange text-3xl mb-4">03</h3>
			<p class="uppercase font-thin text-[19px]">
				eager to have an even greater positive impact in the world
			</p>
		</article>
	</div>
	<div>
		<div class="container mx-auto max-w-3xl">
			<script
				async
				data-uid="0b78da44dc"
				src="https://english-creative.ck.page/0b78da44dc/index.js"></script>
		</div>
	</div>
</section>
