---
import Video from '@/components/main/Video';
import { fade } from 'astro:transitions';
---

<section id="home" class="py-[7rem]">
	<div class="container px-2 md:px-[2rem]">
		<h1
			class="text-4xl text-foreground text-center md:text-[3.5rem] font-Baloo font-bold"
		>
			<span
				class="text-darkGreen"
				transition:animate={fade({ duration: '0.5s' })}>Impact</span
			> the world with your
			<span
				class="text-darkGreen"
				transition:animate={fade({ duration: '0.5s' })}>ideas</span
			>
		</h1>

		<Video client:only />

		<a
			class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70"
			href="#services"
			class="">Explore your options</a
		>
	</div>
</section>
