---

---

<section id="home" class="py-[7rem]">
	<div class="container px-2 md:px-[2rem]">
		<h1
			id="heading"
			class="text-4xl text-foreground text-center md:text-[3.5rem] font-Baloo font-bold flex flex-wrap gap-[9px] md:gap-3 items-center justify-center"
		>
			<span class="text-darkGreen block animate-fade-up">Impact</span>
			<span class="text-focus-in block animate-fade-up animate-delay-300"
				>the world</span
			>

			<span class="text-focus-in block animate-fade-up animate-delay-500"
				>with your</span
			>
			<span
				id="ideas"
				class="text-darkGreen block animate-fade-up animate-delay-700"
				>ideas</span
			>
		</h1>

		<div class="max-w-[740px] mx-auto my-8 relative">
			<lite-youtube
				videoid="lcU9OaWBWHs"
				class="aspect-video w-full z-0 h-full animate-fade animate-delay-[1500ms] rounded-md"
			></lite-youtube>
		</div>

		<a
			class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit animate-fade-up animate-delay-[1500ms] hover:opacity-70"
			href="#services">Get started</a
		>
	</div>
</section>
