---
import { Image } from 'astro:assets';
import { fade } from 'astro:transitions';
import thumbnail from '@/assets/thumbnail.jpg';
import { PlayIcon } from 'lucide-react';
---

<section id="home" class="py-[7rem]">
	<div class="container px-2 md:px-[2rem]">
		<h1
			class="text-4xl text-foreground text-center md:text-[3.5rem] font-Baloo font-bold"
		>
			<span
				class="text-darkGreen"
				transition:animate={fade({ duration: '0.5s' })}>Impact</span
			> the world with your
			<span
				class="text-darkGreen"
				transition:animate={fade({ duration: '0.5s' })}>ideas</span
			>
		</h1>

		<div class="max-w-[740px] mx-auto my-8 relative">
			<!-- <button
				class="absolute left-1/2 top-1/2 -translate-y-1/3 -translate-x-1/2 bg-darkOrange p-2 rounded-full z-30 hover:scale-125 transition-transform"
				aria-label="play video"
				id="btn-img"
			>
				<PlayIcon className="text-background " />
			</button>
			<Image
				src={thumbnail}
				alt="Janelle thumbnail"
				id="thumbnail-img"
				class="z-20"
			/> -->
			<iframe
				id="video"
				class="aspect-video w-full z-0 h-full"
				src="https://www.youtube.com/embed/lcU9OaWBWHs?si=vc3Pa9VJSlZehu5m?controls=0"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>

		<a
			class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70"
			href="#services"
			class="">Explore your options</a
		>
	</div>
</section>

<script>
	// const btn = document
	// 	.querySelector('#btn-img')
	// 	?.addEventListener('click', () => {
	// 		document.querySelector('#thumbnail-img')!.style.display = 'none';
	// 		btn.style.display = 'none';
	// 		document.querySelector('#video')!.style.position = 'relative';
	// 	});
</script>
