---
import { Image } from "astro:assets"
import video from '@/assets/video.jpg'
---

<section id="home" class="bg-[url('/showcase.svg')] bg-no-repeat bg-cover bg-center py-24">
    <div class="container">
        <h1 class="text-foreground text-center text-6xl font-Baloo font-bold ">
            <span class="text-softRed">Impact</span> the world with your
            <span class="text-softRed">ideas</span>
        </h1>

        <div class=" max-w-[700px] mx-auto mt-[4rem]">
            <Image class='rounded-lg' src={video} alt='Janelle video' />
        </div>
        <a class="block font-semibold bg-darkBlue text-background py-3 px-6 rounded-xl mt-[4rem] mx-auto w-fit hover:opacity-70" href="#services" class="">Explore your options</a>
    </div>
</section>