---
import { Image } from 'astro:assets';
import meet from '@/assets/meet.jpeg';
import { ChevronRightIcon } from 'lucide-react';
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<section id="about" class="py-[7rem] bg-white">
	<div class="container max-w-[1200px] mx-auto">
		<div
			class="flex flex-col-reverse gap-8 sm:flex-row sm:items-center md:gap-16"
		>
			<div class="p-4 pt-2 bg-black rounded-lg sm:w-[50%]">
				<div class="flex items-center gap-2 pb-2 pl-1">
					<div class="rounded-full size-2 bg-slate-700"></div>
					<div class="rounded-full size-2 bg-slate-700"></div>
					<div class="rounded-full size-2 bg-slate-700"></div>
				</div>
				<Image
					src={meet}
					alt="woman teaching english"
					class="rounded-lg border border-gray-400"
				/>
			</div>
			<div class="flex flex-col gap-2 sm:w-[50%]">
				<span
					class="uppercase bg-white border border-darkGreen text-darkGreen text-[10px] w-fit px-2 rounded-lg tracking-widest pb-[1px] mb-2 block"
					>Acerca de</span
				>
				<h1 class="font-Baloo text-2xl font-semibold md:text-4xl">
					Todos somos creativos
				</h1>
				<div>
					<p class="text-gray-500 mb-4 text-balance">
						Sabemos que una de las partes más difíciles de expandir
						tu negocio es confiar en alguien más para trabajar
						contigo. Por eso estamos aquí, cuando y donde nos
						necesites, para todas tus necesidades de inglés.
					</p>
					<p class="text-darkGreen font-bold max-w-[510px]">
						Nuestra misión es llevar tus ideas al mundo de manera
						auténtica, para que puedas impactar a personas en todo
						el mundo en el idioma universal.
					</p>
				</div>

				<a
					href={getRelativeLocaleUrl('es', 'aboutme')}
					class="flex items-center bg-darkGreen text-background w-fit py-2 pl-2 pr-1 rounded-sm mt-2 font-semibold hover:opacity-70"
					><span>Acerca de mi</span>
					<ChevronRightIcon className="w-5 pt-1 " />
				</a>
			</div>
		</div>
	</div>
</section>
