---
import { ViewTransitions } from 'astro:transitions';
import '../styles/globals.css';
import { Image } from 'astro:assets';
import janellePinkbg from '@/assets/janellePinkBg.jpeg';
---

<html lang="en" class="scroll-smooth scroll-pt-[5rem]">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>Astro</title>
	</head>
	<body class="bg-background text-foreground">
		<div class="container mx-auto relative max-w-[1200px]">
			<!-- Section One -->
			<div
				class="flex flex-col sm:items-end sm:flex-row gap-6 my-12 md:gap-12 md:my-[7rem]"
			>
				<div
					class="font-Baloo text-darkOrange font-bold text-3xl sm:absolute sm:left-1/2 top-16 sm:-translate-x-1/4 lg:text-5xl"
				>
					<h1 class="bg-white pt-3 mb-2 w-fit px-2">
						Hi, I'm Janelle and I am
					</h1>
					<h1 class="bg-white pt-3 w-fit px-2">a English Teacher</h1>
				</div>

				<div
					class="p-12 bg-lightOrange border-[5px] border-white max-w-[700px] sm:h-[500px] sm:w-[50%] flex justify-center items-center"
				>
					<div class="max-w-[300px]">
						<Image
							src={janellePinkbg}
							alt="janelle profile picture"
						/>
					</div>
				</div>
				<div
					class="text-center font-semibold font-Baloo text-xl sm:w-[50%] sm:pb-[4rem] md:max-w-[400px] md:text-2xl"
				>
					<p>
						"You can't connect the dots looking forward... you can
						only connect them looking backwards"
					</p>
					<p>Steve Jobs</p>
				</div>
			</div>
		</div>

		<!-- Section Two -->
		<div class="bg-white py-[5rem]">
			<div class="container">
				<div class="font-Baloo text-darkOrange font-bold text-3xl mb-8">
					<h1 class="bg-darkOrange text-white pt-3 mb-2 w-fit px-2">
						How I started...
					</h1>
				</div>
				<div class="flex flex-col gap-4">
					<p>
						I never imagined becoming a passionate English Coach for
						Spanish speakers worldwide, but looking back, it all
						makes sense. As a teenager, I dreamed of learning
						Spanish because salsa music moved me. Returning from
						volunteering in Peru and completing an Event Management
						course as a young adult, I was inspired to work with
						projects aiming to make a positive global impact.
					</p>
					<p>
						Travelling through Central and South America as a novice
						documentary maker, I witnessed incredible initiatives
						being created around me. I longed to see these projects
						reach a global audience. During my Bachelor of Arts
						International in Australia where I studied Spanish and
						Latin American studies and Anthropology, I was struck by
						how intertwined language is with culture and our
						interpretation of the world.
					</p>
					<p>
						Settling in Argentina opened the door to my career in
						English mentoring. I now have the pleasure of using my
						experience, talents, and curiosity to share what I love.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
