---
import '../styles/globals.css';
import Header from '@/components/header/Header.tsx';
import Main from '@/components/main/Main.astro';
import Services from '@/components/services/Services.astro';
import About from '@/components/about/About.astro';
import Footer from '@/components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>English Creative</title>
	</head>
	<body class="bg-background text-foreground">
		<Header client:load />
		<Main />
		<Services />
		<About />
		<Footer />
	</body>
</html>
