---
import '../styles/globals.css';
import Header from '@/components/header/Header.tsx';
import Main from '@/components/main/Main.astro';
import Services from '@/components/services/Services.astro';
import About from '@/components/about/About.astro';
import Footer from '@/components/Footer.astro';
import Testimonials from '@/components/testimonials/Testimonials.astro';
import Construction from '@/components/main/Construction.astro';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Transform Your Business into English | English Creative"
		/>
		<meta
			name="keywords"
			content="Spanish-speaking creators,
		English coaching for business,
		Español to English translation,
		English language mentoring,
		Business English for entrepreneurs"
		/>
		<script
			is:inline
			type="module"
			src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"
		></script>
		<title>Transform Your Business into English | English Creative</title>
	</head>
	<body class="bg-background text-foreground">
		<!-- <Header client:idle /> -->
		<!-- <Main />
		<Services />
		<About />
		<Testimonials />
		<Footer /> -->
		<Construction />
		<!-- <script src="../lib/observer.ts"></script> -->
	</body>
</html>
