---
import '../styles/globals.css'
import {Button} from '@/components/ui/button'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-darkBlue">
	<h1 class="bg-background text-foreground">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae nostrum omnis.</h1>
	</body>
</html>
