---
import Layout from '@/layout/Layout.astro';
import { Image } from 'astro:assets';
import podcastLogo from '@/assets/podcastLogo.png';
import logoRed from '@/assets/logoRed.png';
---

<Layout title="English Creative | Podcast">
  <div class="grid content-center min-h-screen bg-white">
    <div class="container mx-auto text-center animate-fade-up">
      <h1 class="text-2xl font-semibold my-4">
        When it happens to you, will you realise?
      </h1>
      <div class="max-w-[600px] mx-auto relative">
        <Image
          src={podcastLogo}
          alt={'logo'}
          class="block mx-auto"
          loading={'eager'}
        />
        <div
          class="flex flex-row items-center justify-center text-[12px] absolute -bottom-2 sm:bottom-0 mx-auto left-0 right-0"
        >
          <p class="mb-[10px]">A podcast by</p>
          <Image
            src={logoRed}
            alt={'logo english creative'}
            class="w-4 mb-[6px]"
            loading={'eager'}
          />
          <p class="font-bold font-Baloo">English Creative</p>
        </div>
      </div>

      <p
        class="text-center text-xl opacity-80 mt-8 text-balance max-w-[600px] mx-auto"
      >
        Inspiring stories from multilinguals who have felt 'the click' and their
        thoughts on being creative in English
      </p>
      <p class="font-Baloo font-semibold text-xl my-6 opacity-90">
        Stay tuned for our upcoming episodes!
      </p>
      <a
        href="/"
        class="block font-semibold bg-darkGreen text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70 mt-4"
        >Home</a
      >
    </div>
  </div>
</Layout>
