---
import Layout from '@/layout/Layout.astro';
import { Image } from 'astro:assets';
import podcastLogo from '@/assets/podcastLogo.png';
import logoRed from '@/assets/logoRed.png';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout title="English Creative | Podcast">
  <section class="grid content-center min-h-screen bg-white">
    <div class="container mx-auto text-center animate-fade-up max-w-[1000px]">
      <h1 class="text-2xl font-semibold my-4">
        A podcast for entrepreneurial language lovers and language learners.
      </h1>
      <div class="max-w-[600px] mx-auto relative">
        <Image
          src={podcastLogo}
          alt={'logo'}
          class="block mx-auto"
          loading={'eager'}
        />
        <div
          class="flex flex-row items-center justify-center text-[12px] absolute -bottom-2 sm:bottom-0 mx-auto left-0 right-0"
        >
          <p class="mb-[10px]">A podcast by</p>
          <Image
            src={logoRed}
            alt={'logo english creative'}
            class="w-4 mb-[6px]"
            loading={'eager'}
          />
          <p class="font-bold font-Baloo">English Creative</p>
        </div>
      </div>

      <p
        class="text-center text-xl opacity-80 mt-8 text-balance max-w-[600px] mx-auto"
      >
      Is it really possible to feel like yourself in English? Can you truly express your passion and purpose authentically when talking about your business or project in another language?
      </p>

  
    </div>
  </section>
  <section class="my-20">
    <div class="container max-w-[800px]">
      <p class="text-foreground font-semibold text-center py-8">Let your curiosity guide you as we explore the journey of becoming ‘yourself’ in a second language—through real stories, insightful conversations, and practical tips from those who've been there. Discover the power of language, identity, and creativity, and be inspired to unlock new opportunities for your project with confidence.</p>
      <div >
        <div id='buzzsprout-large-player-limit-5'></div><script type='text/javascript' charset="utf-8"  src='https://www.buzzsprout.com/2400777.js?artist=&container_id=buzzsprout-large-player-limit-5&limit=5&player=large'></script>
      </div>
    
    </div>
  </section>
  <section class="my-20">
      <div class="container max-w-[800px]">
        <p class="text-gray-600 font-semibold text-center py-8 text-balance">Join my newsletter to be the first to know about upcoming workshops, group courses, and 1:1 availability, get private links to podcast videos with captions, plus inspiring thoughts and ideas to spark your creativity!</p>
      
      <form   data-netlify="true"
      netlify-honeypot
      name="subscribe"
      method="POST" action="/success"
     class="flex items-center max-w-[600px] mx-auto">

        <input
        type="email"
        name="email"
        placeholder="hello@english-creative.com"
        class="font-OpenSans text-foreground flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 rounded-tr-none rounded-br-none"
        required
      />
        <button
        class="block font-semibold bg-darkOrange text-background py-2 px-3 rounded-sm mx-auto w-fit hover:opacity-70 rounded-tl-none rounded-bl-none"
        >Subscribe</button>
      </form>
    </div>
  </section>
  <section class="py-20 bg-darkGreen">
    <div class="container max-w-[660px]">
   
      <ContactForm title="Does ‘the click’ exist? Become a guest on the show!" messagePlaceholder="I want to be in the program..." />
    </div>

  </section>
  <!-- <a
  href="/"
  class="block font-semibold bg-darkGreen text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70 mt-4"
  >Home</a
> -->
</Layout>
