---
import TouchIcon from '@/components/TouchIcon.astro';
import Layout from '@/layout/Layout.astro';
---

<Layout title="success form">
	<main class="grid content-center min-h-screen">
		<div
			class="border border-foreground p-8 mx-auto rounded-md bg-slate-50 flex flex-col items-center gap-2"
		>
			<h1 class="text-2xl text-foreground">We are in touch</h1>

			<TouchIcon class="text-foreground" />
			<a
				href="/"
				class="block font-semibold bg-darkGreen text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70"
				>Go back</a
			>
		</div>
	</main>
</Layout>
