---
import '@/styles/globals.css';
import FormSurvey from '@/components/survey/FormSurvey';
import { Button } from '@/components/ui/button';
import { ChevronLeftIcon } from 'lucide-react';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Survey</title>
    </head>
    <body class="bg-white min-h-screen flex items-center justify-center ">
        <div class="container">
            <section class="max-w-[800px] mx-auto">
                <FormSurvey client:load />
            </section>
            <Button className="bg-white border-darkBlue text-darkBlue hover:bg-darkBlue hover:text-white hover:border-white " variant={'outline'}> 
                <a href="/" class="flex items-center">
                    <ChevronLeftIcon className=' hover:text-white'  /> Go Back</a
                >
            </Button>
        </div>
    </body>
</html>