---
import logo from '../../assets/logo.png';
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import ToggleNavigation from './ToggleNavigation';
---

<header class="bg-background py-6 fixed left-0 right-0 top-0 w-full z-20">
	<nav
		class="flex justify-between items-center container mx-auto max-w-[1200px]"
	>
		<a href="#home" class="w-60">
			<Image src={logo} alt="english creative logo" loading="eager" />
		</a>
		<Navigation />
		<div class="md:hidden">
			<ToggleNavigation client:load />
		</div>
	</nav>
</header>
