---
---


    <ul class="hidden md:flex justify-between gap-9 items-center font-Baloo text-xl pt-4 font-semibold ">
        <li><a class="hover:opacity-70" href="#services">Services</a></li>
        <li><a class="hover:opacity-70" href="#about">About</a></li>
        <li><a class="hover:opacity-70" href="">Testimonials</a></li>
        <li><a class="hover:opacity-70" href="">Podcast</a></li>
        <li><a class="hover:opacity-70" href="/hub">Hub</a></li>    
        <li><a class="bg-softRed text-background pt-[6px] px-4 rounded-tl-3xl rounded-br-3xl hover:opacity-70" href="">Contact</a></li>
    </ul>
