---
import { Image } from 'astro:assets';
import logo from '@/assets/logoWithText.png';
import LineMdTelegram from './LineMdTelegram.astro';
import MaterialMail from './MaterialMail.astro';
import { FormContact } from './FormContact';
---

<footer id="contact" class="bg-darkGreen py-[3rem]">
	<div class="container">
		<div class="flex gap-16 mb-8">
			<FormContact />
			<div class="flex flex-col items-start gap-4 mb-12">
				<Image src={logo} alt="logo" width={180} class="mb-4" />
				<ul
					class="flex flex-col items-start gap-2 text-background font-semibold font-Baloo md:gap-8"
				>
					<li><a href="#" class="hover:opacity-80">Services</a></li>
					<li><a href="#" class="hover:opacity-80">About</a></li>
					<li>
						<a href="#" class="hover:opacity-80">Testimonials</a>
					</li>
					<li><a href="#" class="hover:opacity-80">Podcast</a></li>
				</ul>
				<a
					href="tg://t.me/MatiasLuduena"
					class="font-semibold bg-darkOrange text-background py-2 px-6 rounded-sm w-fit hover:opacity-70 flex items-center gap-2"
					><span>Telegram</span> <LineMdTelegram /></a
				>
			</div>
		</div>
		<hr class="mx-auto opacity-45" />
	</div>
</footer>
