---
import CardMain from './CardMain.astro';

const data = [
	{
		id: 1,
		text: 'un creador de negocios o proyectos de habla hispana',
	},
	{
		id: 2,
		text: 'listo para transformar tu emprendimiento al inglés',
	},
	{
		id: 3,
		text: 'ansioso por tener un impacto positivo aún mayor en el mundo',
	},
];
---

<section class="relative py-[7rem] bg-white">
	<h2
		class="text-2xl text-center font-OpenSans mb-6 md:text-4xl md:mb-12 max-w-[480px] mx-auto"
	>
		Estas en el lugar <span class="text-darkGreen">PERFECTO</span> si tu eres...
	</h2>
	<div
		class="grid sm:grid-cols-2 md:grid-cols-[repeat(auto-fit,minmax(250px,1fr))] max-w-[800px] justify-center mx-auto gap-4"
	>
		{data.map((item) => <CardMain id={item.id} text={item.text} />)}
	</div>
</section>
