---
import { fade } from 'astro:transitions';
---

<section id="home" class="py-[7rem]">
	<div class="container px-2 md:px-[2rem]">
		<h1
			class="text-4xl text-foreground text-center md:text-[3.5rem] font-Baloo font-bold"
			transition:animate={fade({ duration: '0.5s' })}
		>
			<span class="text-darkGreen">Impacta</span> el mundo con tus
			<span class="text-darkGreen">ideas.</span>
		</h1>

		<div class="max-w-[740px] mx-auto my-8 relative">
			<iframe
				id="video"
				class="aspect-video w-full z-0 h-full"
				src="https://www.youtube.com/embed/lcU9OaWBWHs?si=vc3Pa9VJSlZehu5m"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>

		<a
			class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70"
			href="#services"
			class="">Explore your options</a
		>
	</div>
	<a
		class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70"
		href="#services"
		class="">Explorar opciones</a
	>
</section>
