---
const { id, title, text } = Astro.props;
---

<article class="border border-gray-300 p-4 flex flex-col gap-1 pr-12">
  <p class="opacity-45">/0{id}</p>
  <h2 class="text-darkGreen font-bold text-xl mt-2">{title}</h2>
  <p class="mt-1">
    {text}
  </p>
</article>
