---
import { DialogCalendly } from '@/components/ui/DialogCalendly';
import CardInfo from './CardInfo.astro';
import CardStep from './CardStep.astro';
import { getCollection } from 'astro:content';

const englishDocsCardsInfo = await getCollection('docs', ({ id }) => {
	return id.startsWith('es/cardInfo/');
});

const englishDocsSteps = await getCollection('docs', ({ id }) => {
	return id.startsWith('es/cardStep/');
});
---

<section id="services" class="">
	<div class="bg-background py-[7rem]">
		<div class="container max-w-[350px] sm:max-w-[1200px] mx-auto">
			<span
				class="uppercase bg-background border border-darkGreen text-darkGreen text-[10px] w-fit px-2 rounded-lg tracking-widest pb-[1px] mb-4 block"
				>Servicios</span
			>
			<h1
				class="text-start text-4xl font-Baloo font-semibold text-gray-700 md:text-5xl mt-2"
			>
				Que hacemos
			</h1>
			<p class="text-xl opacity-80">
				Te proporcionamos las herramientas para ganar visibilidad en el
				idioma universal del mundo.
			</p>
			<div
				class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(300px,1fr))] justify-center mt-8"
			>
				{englishDocsCardsInfo.map((item) => <CardInfo card={item} />)}
			</div>
		</div>
	</div>
	<div class="bg-background py-[7rem]">
		<div class="container max-w-[350px] sm:max-w-[1200px] mx-auto">
			<h1
				class="text-start text-4xl font-Baloo font-semibold text-gray-700 md:text-5xl"
			>
				Como lo hacemos
			</h1>
			<div
				class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(300px,1fr))] justify-center mt-6"
			>
				{
					englishDocsSteps.map((item) => (
						<CardStep
							id={item.data.id}
							title={item.data.title}
							text={item.data.text}
						/>
					))
				}
				<article class="bg-darkGreen p-6 text-background">
					<h2 class="text-3xl text-balance font-bold mb-4">
						Estas listo para comenzar?
					</h2>
					<DialogCalendly client:load />
				</article>
			</div>
		</div>
	</div>
</section>
