---
import { ViewTransitions } from 'astro:transitions';
import '../styles/globals.css';
import logo from '@/assets/logo.png';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Meet Janelle, your English coach. Learn how we help Spanish-speaking creators make a global impact with our English mentoring and translation services."
		/>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-background">
		<header
			class="bg-background py-6 sticky left-0 right-0 w-full z-50 max-w-[900px] mx-auto"
		>
			<nav
				class="flex justify-between items-center container mx-auto max-w-[1200px] animate-fade-down animate-delay-[1500ms]"
			>
				<a href="#home" class="w-60">
					<img
						src={logo.src}
						alt="english creative logo"
						loading="eager"
						width={220}
						height={80}
					/>
				</a>
				<a
					class="hover:opacity-70 font-Baloo sm:text-base md:text-[18px] lg:text-xl pt-4 font-semibold mb-[5px] pl-4"
					href="/es/"
				>
					Inicio
				</a>
			</nav>
		</header>
		<slot />
	</body>
</html>
